.nav{
    padding: 5px;
    background-color: darkblue;
}

.fontStyle{
    font-size: 22px;
    color:white;
    text-emphasis: bold;
}

.fontStyle2{
    color:darkblue;
    text-emphasis: bold;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .gfont{
    font-family: 'Righteous', cursive;
  }

  .fakeline{
      border: solid black 1px; 
  }

  .movedown{
      margin-top: 100px;
  }

  .dropstyle{
      background-color: white;
  }

  .scrolltab{
    height:300px;
    overflow:scroll;
}

.topSpace{
    margin-top: 25px;
}

.frameStyle{
    border: white 2px solid;
    border-radius: 15px;
}